<!-- app/views/portal/_message.html.erb -->
<div class="message <%= message.author_type.underscore %> <%= 'staff-note' if message.staff_note_only %>">
  <div class="message-header">
    <strong>
      <%= author_display_name(message.author) %>
      <%= message.author_type == 'StaffUser' ? '(staff)' : '' %>
    </strong>
    <span class="timestamp">
      <%= l(message.created_at, format: :short) %>
    </span>
  </div>
  <div class="message-body">
    <%= simple_format(message.body) %>
  </div>
  <% if message.images.attached? %>
    <div class="message-images mt-2">
      <% message.images.each do |img| %>
        <%= link_to main_app.rails_blob_path(img, disposition: 'attachment'),
                    target:   '_blank',
                    rel:      'noopener' do %>
          <%= image_tag(
                main_app.rails_representation_path(
                  img.variant(resize_to_limit: [250, 250]).processed,
                  only_path: true
                ),
                class: 'img-thumbnail me-2 mb-2'
              ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
