<main class="container my-5">
  <h1 class="mb-4">Free 3D Assistive Devices Request</h1>
  <p class="help-text">You are welcome to request up to TWO (2) free 3D printed assistive devices per month. You will be notified by your chosen contact method when your items are ready to pick up. Please note that your request will be put in the queue with other patrons requests. It can take up to 2 weeks to be notified your devices are ready for pick up.</p>

  <%= form_tag submit_assistive_path,
        multipart: true,
        local: true,
        data: { turbo: false } do %>

    <%= render 'portal/patron_fields' %>
    <%= render 'portal/device_model' %>
    <%= render 'portal/filament_color' %>
    <%= render 'portal/notes_field',
                header: 'Preferred Contact',
                label: 'How should we contact you?',
                placeholder: 'Your phone number or email…',
                help_text: 'If you prefer phone, please include your number.' %>
    <%= render 'portal/pickup_location' %>
    <%= render 'portal/captcha' %>
    <%= render 'portal/submit_button',
                submit_label: 'Submit Assistive Request',
                submit_help: "We’ll follow up within 48 hours with next steps." %>
  <% end %>
</main>
