<main class="container my-5">
  <h1 class="mb-4">Free 3D Fidgets Request for Local IBCCES Partners</h1>
  <p class="help-text">
    You are welcome to request up to ONE (1) free 3D printed fidget device per month. You will be notified via email when your items are ready to pick up.  
    Please note that your request will be put in the queue with other patron requests. It can take up to 2 weeks to be notified your device is ready for pick up.
  </p>

  <%= form_tag submit_fidget_path,
        multipart: true,
        local: true,
        data: { turbo: false } do %>

    <%= render 'portal/patron_fields' %>
    <%= render 'portal/device_model' %>
    <%= render 'portal/filament_color' %>
    <%= render 'portal/notes_field',
                header: 'Company/Organization Name',
                label: 'Company/Organization Name',
                placeholder: 'Your company or organization…',
                help_text: nil %>
    <%= render 'portal/pickup_location' %>
    <%= render 'portal/captcha' %>
    <%= render 'portal/submit_button',
                submit_label: 'Submit Fidget Request',
                submit_help: "We’ll let you know when your device is ready for pick-up." %>
  <% end %>
</main>
