<main class="container my-5">
  <h1 class="mb-4">Staff 3D Print Request</h1>
  <p class="help-text">TADL Staff may use this form to request 3D prints required for business purposes. If you'd like to print something for perosnal use, please use the <%= link_to 'patron form', submit_print_path %>.</p>

  <%= form_tag submit_staff_path,
        multipart: true,
        local: true,
        data: { turbo: false } do %>

    <%= render 'portal/patron_fields' %>
    <%= render 'portal/model_upload_or_url' %>
    <%= render 'portal/filament_color' %>
    <%= render 'portal/notes_field',
                header: 'Additional Instructions',
                label: 'Notes',
                placeholder: 'Any special instructions…',
                help_text: nil %>
    <%= render 'portal/pickup_location' %>
    <%= render 'portal/captcha' %>
    <%= render 'portal/submit_button',
                submit_label: 'Submit Staff Request',
                submit_help: "Please use your work email for staff requests. We’ll follow up shortly." %>
  <% end %>
</main>
